body{
    background-color: rgb(241, 241, 241);
    
}

.container{
    width: 70%;
    border-radius: 10px;
    height: 1000px;
    background-color: rgb(226, 224, 224);
    margin: auto;
    padding-top: 60px;
}

#inner{
    width: 90%;
    border-radius: 10px;
    height: 95%;
    background-color: rgb(240, 239, 239);
    margin: auto;

}

#content{
    background-color: lightblue;
    border-radius: 10px;
}

header{
    border-radius: 10px;
    width: 96.7%;
    height: 80px;
    padding: 20px;
}
.sidebar{
    border-radius: 10px;
    position: relative;
    right: 5%;
    margin: 0px;
    display: inline-block;
    margin-top: 60px;
    width: 30%;
    height: 70%;
    padding: 20px;
}

.mainbar{
    border-radius: 10px;
    position: relative;
    display: inline-block;
    left: 7%;
    margin-top: 60px;
    margin: 0px;
    width: 60%;
    height: 70%;
    padding: 20px;
}

#Aaaa{
    width: 90%;
    height: 95%;
    margin: auto;
}